/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply h-full;
}

.container {
	position: absolute;
	top: 0;
	left: 0px;
	right: 0px;
	bottom: 0;
	margin: 0 auto;
	width: calc(100vw - 10px);
	padding: 0 10px;
  }
body {
	@apply text-black;
}
html {
	box-sizing: border-box;
  }
  *, *::before, *::after {
	box-sizing: inherit;
  }
  

  .chat-bubble-primary {
	background-color: rgb(129, 129, 79);
	color: white; /* Asegúrate de que el color del texto sea legible en el fondo marrón */
	margin-left: 60px; /* Ajuste el valor según sea necesario */
  }
  .chat-bubble-secondary {
	background-color: brown;
	color: white; /* Asegúrate de que el color del texto sea legible en el fondo marrón */
  }

  